body{
    margin: 0;
}
header{
    width: 98%;
    display: flex;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
}
nav{
    width: 70%;
    text-align: end;
}
nav a{
    color: black;
}
#logo{
    width: 20%;
    text-align: center;
}
#content{
    display: flex;
}
#content img{
    width: 80%;
}
section{
    width: 50%;
}
aside{
    width: 50%;
}